@page
@using Newtonsoft.Json
@model ResdetailsModel
@{
    ViewData["Title"] = "Details page";
}
@{
        var items = (List<Restaurant>)Model.Restaurants; 
}
@* <script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script> *@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div class="second-page"> 
    <div class="dropdown-div">
            <form method="post">
                <select id="restaurantSelect" name="restaurantId" class="form-control" asp-for="restaurantId" asp-items=@(new SelectList(items, "id", "name")) onchange="this.form.submit();">
                <option text-align="center" value="">Pick one</option> 
                </select>
            </form> 
    </div> 
    <div class="restaurant-details">
         <div class="details">
                    @* <div>
                         <p>The select Id is: @Model.restaurantId"</p>
                    </div> *@
                   @if(@Model.rest!=null){
                         <div class="div_inside">
                              <p><span>Resturent name:</span></p>
                              <p>@Model.rest.name</p>
                         </div>
                         <div class="div_inside">
                             <p><span>Resturent phone number:</span></p>
                             <p>@Model.rest.phonenumber</p>
                         </div>
                         <div class="div_inside">
                             <p><span>Resturent address:</span></p>
                             <p>@Model.rest.address.street_number @Model.rest.address.street_name 
                                 @Model.rest.address.city @Model.rest.address.province @Model.rest.address.postalcode</p>
                         </div>
                         <div class="div_inside">
                              <p><span>Resturent website:</span></p>
                              <p><a href=@Model.rest.name>Visit @Model.rest.name + "com"</a></p>
                         </div>
                }
                </div>
    </div>
    <div class="restaurant-image">
        @if(@Model.rest!=null){
             <img class="rest_image" src=
"/images_tobeused/RestaurantAvailability_2_640x470_640x300 - Copy.jpg"
        alt = "Restaurant Avaiability Image" />
        }
    </div>
    <div class="outer_button_reserve_seat">
        @if(@Model.rest != null){
            <div class="button_reserve_seat">
                <form method="post">
                    <input type="submit" value="RESERVE NOW!" asp-page-handler="RESERVE"/>
                </form>
            </div>
        }
    </div>
    <div class="end_page">
      <p>

      </p>
    </div>
</div>
