@page
@using Newtonsoft.Json
@model ResdetailsModel
@{
    ViewData["Title"] = "Details page";
}
@{
        var items = (List<Restaurant>)Model.Restaurants; 
}
@section Upper
{
    <div class="upper_section">
        <div class="m_canvas">
            <canvas width = "500px" height = "100px"  id = "my_Canvas"></canvas>
        </div>
    </div>
}
@* <script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script> *@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div class="second-page"> 
    <div class="dropdown-div">
            <form method="post">
                <select id="restaurantSelect" name="restaurantId" class="form-control" asp-for="restaurantId" asp-items=@(new SelectList(items, "id", "name")) onchange="this.form.submit();">
                <option text-align="center" value="">Pick one</option> 
                </select>
            </form> 
    </div> 
    <div class="restaurant-details">
         <div class="details">
                    @* <div>
                         <p>The select Id is: @Model.restaurantId"</p>
                    </div> *@
                   @if(@Model.rest!=null){
                         <div class="div_inside">
                              <p><span>Resturent name: @Model.rest.name</span></p>
                         </div>
                         <div class="div_inside">
                             <p><span>Resturent phone number: @Model.rest.phonenumber</span></p>

                         </div>
                         <div class="div_inside">
                             <p><span>Resturent address: @Model.rest.address.street_number @Model.rest.address.street_name @Model.rest.address.city @Model.rest.address.province @Model.rest.address.postalcode</span></p>
                             
                         </div>
                         <div class="div_inside">
                              <p><span>Resturent website: <a href=@Model.rest.name>Visit @Model.rest.name + "com"</a></span></p>
                              
                         </div>
                         <div class="div_inside">
                              @* <asp:LinkButton ID="LinkButton1" runat="server" OnClientClick="javascript:window.open('https://websitename.org/form/formname.aspx?sessionid=<%= txtsession.value %>','','left=250px, top=245px, width=700px, height=450px, scrollbars=no, status=no, resizable=no');return false;">add user</asp:LinkButton> *@
                               @* <p><span>Resturent website: <a class="button" id="locationId" asp-page="mapLocation">Location</a></span></p> *@
                               @if(@Model.rest != null){
                
                                    <form method="post">
                                        <input type="submit" value="Location" asp-page-handler="Reserve2"/>
                                    </form>
            
                              }
                         </div>
                }
                </div>
    </div>
    <div class="restaurant-image">
        @if(@Model.rest!=null){
             <img class="rest_image" src=
"/images_tobeused/RestaurantAvailability_2_640x470_640x300 - Copy.jpg"
        alt = "Restaurant Avaiability Image" />
        }
    </div>
    <div class="outer_button_reserve_seat">
        @if(@Model.rest != null){
            <div class="button_reserve_seat">
                <form method="post">
                    <input type="submit" value="RESERVE NOW!" asp-page-handler="Reserve"/>
                </form>
            </div>
        }
    </div>
    <div class="end_page">
      <p>

      </p>
    </div>
</div>
@* @section Mid
{
    <div class="mid-section">
    </div>
} *@
